@import './_variable.scss';

@mixin pos {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
}

.visual-editor__block {
    position: absolute;
    width: auto;
    height: auto;
    box-sizing: border-box;
    user-select: none;
    &.editor-block__mask {
        &::after {
            @include pos();
            pointer-events: none;
            border: 2px solid transparent;
            background-color: transparent;
            z-index: 1;
        }
    }
    &.editor-block__active {
        &::before {
            @include pos();
            border: 2px dashed $primary;
            z-index: 2;
        }
    }
}