
@import "../asset//font/iconfont.css";
$headSize: 60px;
$menuSize: 275px;
$operatorSize: 275px;

$ibc: #dcdfe6;
$ibl: #ebeef5;
$itc: #314659;
$icc: rgba(0, 0, 0, 0.45);
$boxShadowColor: #f0f1f2;
$primary: #409EFF;

.visual-editor__container {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.1);
  }

  .visual-editor__menu,
  .visual-editor__head,
  .visual-editor__operator,
  .visual-editor__body {
    position: absolute;
    &.visual-editor__menu {
      top: 0;
      left: 0;
      bottom: 0;
      width: $menuSize;
      background-color: #fff;
      border-right: 1px solid $ibc;
      padding: 20px;
      overflow: auto;
      box-sizing: border-box;
      .editor-menu-title {
        color: skyblue;
        display: flex;
        align-items: center;
        height: 45px;
        background-color: #fff;
        z-index: 1;

        div {
          height: 100%;
          margin-top: -2px;
          font-size: 24px;
        }

        span {
          float: left;
          vertical-align: middle;
        }
        p {
          height: 32px;
          line-height: 32px;
          vertical-align: bottom;
          font-size: 24px;
          font-weight: 600;
          margin-left: 8px;
          float: left;
        }
      }
      .visual-editor-menu__item {
        position: relative;
        border: 1px solid $ibc;
        margin-bottom: 20px;
        padding: 40px 16px 20px 16px;
        text-align: center;
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: '';
        }
        &:hover {
          border-color: $primary;
          cursor: move;
        }
        .visual-editor-menu__item__name{
          position: absolute;
          left: 0;
          top: 0;
          background-color: $primary;
          font-size: 12px;
          line-height: 24px;
          padding: 0 20px;
          color: #fff;
        }
      }
    }
    &.visual-editor__head {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      height: $headSize;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .visual-editor-head__button {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(black, 0.3);
        color: #fff;
        padding: 5px 12px;
        cursor: pointer;
        transition: background-color 0.3ms linear;
        user-select: none;
        & > span {
          font-size: 14px;
        }
        &:hover {
          color: $primary;
          background-color: #fff;
        }
        &:active {
          background-color: mix($primary, #fff, 0.2);
        }
        &:not(:last-child) {
          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -0.5px;
            bottom: 0;
            width: 1px;
            background-color: rgba(#fff, 0.6);
          }
        }      
      }
    }
    &.visual-editor__operator {
      top: 0;
      right: 0;
      bottom: 0;
      width: $operatorSize;
      background-color: #fff;
      border-left: 1p solid $ibc;
      box-sizing: border-box;
    }
    &.visual-editor__body {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      bottom: 0;
      box-sizing: border-box;
      padding: $headSize 0 0 0;
      background-color: #ddd;
      overflow: auto;
      display: flex;
      justify-content: center;
      .visual-editor__body__container {
        background-color: #fff;
        box-sizing: border-box;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 1px dashed $primary;
          pointer-events: none;
          opacity: 1;
          will-change: transform;
        }
        .visual-editor-container__block {
          user-select: none;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
          &.visual-editor-container__block__focus {
            width: auto;
            height: auto;
            &::before {
              content: '';
              position: absolute;
              $size: 4px;
              top: -$size;
              left: -$size;
              bottom: -$size;
              right: -$size;
              border: 1px dashed $primary;
            }
          }
        }
      }
    }
  }

  &.visual-editor__container__preview {
    .visual-editor__body {
      .visual-editor__body__container {
        &::before {
          // display: none;
          opacity: 0;
        }
        .visual-editor-container__block {
          user-select: auto;
          &::after {
            display: none;
          }
        }
      }
    }
    
  }
  &:not(.visual-editor__container__preview) {
    .visual-editor-container__block {
      & > * {
        transition: none;
      }
    }
  }  
}


.visual-editor__body__container {
  position: relative;
  margin: 0 auto;
  .visual-editor-container__block {
    position: absolute;
  }
  .react-visual-container__edit-button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid $primary;
    color: $itc;
    padding: 5px 12px;
    cursor: pointer;
    .iconfont {
      color: $icc;
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.visual-editor-mark-x, .visual-editor-mark-y {
  position: absolute;
  &.visual-editor-mark-x {
    top: 0;
    bottom: 0;
    left: 20px;
    border-left: 1px dashed $primary;
  }
  &.visual-editor-mark-y {
    left: 0;
    right: 0;
    top: 20px;
    border-top: 1px dashed $primary;
  }
}